LOG_LEVEL=INFO

## Make sure DB configs are correct
POSTGRESQL_HOST=relay-service-mediator.cpcwnfbzdsiy.us-east-2.rds.amazonaws.com
POSTGRESQL_PORT=5432
POSTGRESQL_DATABASE=postgres

POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD=
POSTGRESQL_ADMIN_USER=postgres
POSTGRESQL_ADMIN_PASSWORD=

DEMO_CONTROLLER=

MEDIATOR_AGENT_HOST=localhost
MEDIATOR_AGENT_LABEL="Relay Service"
MEDIATOR_WALLET_NAME=relay-service-mediator
MEDIATOR_WALLET_KEY="super secure wallet key"
MEDIATOR_ALIAS=

MEDIATOR_CONTROLLER_URL=
MEDIATOR_CONTROLLER_ADMIN_API_KEY=
MEDIATOR_CONTROLLER_WEBHOOK=

MEDIATOR_AGENT_HTTP_ADMIN_PORT=3002
MEDIATOR_AGENT_ADMIN_URL="http://localhost:${MEDIATOR_AGENT_HTTP_ADMIN_PORT}"
MEDIATOR_AGENT_ADMIN_API_KEY="7gdmVBiJalMj52Oum50yD8neu/nxmv3/DTWcZPyKZ4K2UdNNwSPKgg=="
MEDIATOR_AGENT_ADMIN_MODE=admin-insecure-mode
